@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

:root{
    --bright-orange: #1fddb4;
    --dark-cyan: #360070;
    --very-dark-cyan: #420024;
}
.items{
    background-color:#f2f2f2;
    min-height:100vh;
    display : flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.item{
    background-color: var(--dark-cyan);
    min-height: 25rem;
    max-width: 23rem;
    padding : 2.5rem;
    position: relative;
}
.item .image{
    margin-bottom : 3.5rem;
}
.item h1{
    color: #f2f2f2;
    font-size:2.3rem;
    font-family: 'Big Shoulders Display', cursive;
}
.item p{
    color : #ffffffbf;
    margin-top : 1.5rem;
    margin-bottom: 6rem;
}

.item button{
    /* position: absolute; */
    bottom: 0;
    background : #f2f2f2;
    margin-bottom: 2rem;
    text-align: center;
    border: 2px solid #f2f2f2;
    padding: 12px 30px;
    border-radius: 30px;
    color :#006970;
    text-transform: capitalize;
}
.first{
    background-color:#1fddb4;
    border-radius:30px 30px 30px 30px;
    margin: 8px;
}
.second{
    background-color:#360070;
    border-radius:30px 30px 30px 30px;
    margin: 8px;
}
.third{
    background-color:#420024;
    border-radius:30px 30px 30px 30px;
    margin: 8px;
}

.first button{
    color:#1fddb4;
}
.second button {
    color:#360070;
}
.third button{
    color:#420024;
}
button:hover{
    background-color:transparent;
    color:#f2f2f2;
}

@media (max-width: 950px)  {
    .items{
        flex-direction:column;
        padding: 5rem 0;
    }
    .item{
        min-width: 22rem;
    }
}