@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

:root{
    --bright-orange: #1fddb4;
    --dark-cyan: #360070;
    --very-dark-cyan: #420024;
}

title{
    /* background-color: #535bf2; */
    font-size: 35px;
    color: #391145;
    /* font-weight: 700; */
    /* font-weight: bold; */
    font-style: normal;
    font-variant: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: normal;
    text-transform: none;
    /* font-family: 'Big Shoulders Display', cursive; */
    font: bolder;
  }

/* Item height between the items */
.items{
    background-color:#ffffff;
    min-height:70vh;
    display : flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.item{
    background-color: var(--dark-cyan);
    min-height: 25rem;
    max-width: 23rem;
    min-width: 18rem;
    padding : 2.3rem;
    position: relative;
/*     top: -20px; */
}
.item .image{
    margin-bottom : 3.5rem;
}
.item h1{
    color: #f2f2f2;
    font-size:2.3rem;
    /* font-family: 'Big Shoulders Display', cursive; */
    font-family: 'Schibsted', sans-serif;

}
.item p{
    color : #ffffffbf;
    margin-top : 1.5rem;
    margin-bottom: 6rem;
}

.item button{
    /* position: absolute; */
    bottom: 0;
    background : #f2f2f2;
    margin-bottom: 2rem;
    text-align: center;
    border: 2px solid #f2f2f2;
    padding: 12px 30px;
    border-radius: 30px;
    color :#006970;
    text-transform: capitalize;
}
.first{
    background-color:#2a2a2a;
    border-radius:12px 12px 12px 12px;
    margin: 1.6rem;
}
.second{
    background-color:#2a2a2a;
    border-radius:12px 12px 12px 12px;
    margin: 1.6rem;
}
.third{
    background-color:#2a2a2a;
    border-radius:12px 12px 12px 12px;
    margin: 1.6rem;
}

.first button{
    color:#6b4f08;
}
.second button {
    color:#6b4f08;
}
.third button{
    color:#6b4f08;
}
button:hover{
    background-color:transparent;
    color:#dea20e;
}

@media (max-width: 950px)  {
    .items{
        flex-direction:column;
        padding: 0rem 0;
    }
    .item{
        min-width: 22rem;
    }
}